// Couleurs principales
$color-primary: #000000;
$color-secondary: #ffffff;
$color-accent: #982d3d;

// <!-- Générales -->
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
  cursor: none;
}

html,
body {
  height: 100%;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: $color-secondary;
  color: $color-primary;
  overflow: hidden;
}

.black {
  background-color: $color-primary;
  color: $color-secondary;

  overflow: hidden;
}

.red {
  background-color: $color-accent;
}
body:hover .cursor {
  opacity: 1;
}

header {
  background-color: $color-primary;
}

// Curseur Customiser
.slider {
  width: 80%;
}
.cursor {
  width: 15px;
  height: 15px;
  z-index: 11;
  border-radius: 15px;
  background: $color-accent;
  position: fixed;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.cursor.link-hover {
  transform: scale(1.5);
}

/* Curseur texte */
.cursor-text {
  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none;
  z-index: 12;

  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

#back-to-top {
  display: inline-flex;
  height: 10%;

  justify-content: center;
  align-items: center;
  font-family: "Alexandria", sans-serif;
  padding: 0.75rem 1.5rem;
  border: 3px solid $color-primary;
  background-color: $color-secondary;
  color: $color-primary;
  font-weight: 600;
  // ---- Changement pour que ce soit mieux visible j'ai mis en capitale ----
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-accent;
    color: $color-secondary;
    border: 3px solid $color-accent;
  }

  &:active {
    transform: scale(0.97);
  }
}
