// Couleurs principales
$color-primary: #000000;
$color-secondary: #ffffff;
$color-accent: #982d3d;

// Typographie

h1 {
  font-family: "Alexandria", sans-serif;
  color: $color-secondary;
  text-align: center;
  font-size: 120px;
  font-weight: 900;
  letter-spacing: 7.3px;
  margin-top: 10%;
  margin-bottom: 10%;
}
h2 {
  color: $color-primary;
  font-family: "Alexandria", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: $color-primary;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

h4 {
  color: $color-primary;
  font-family: "Alexandria", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}
.narrative {
  font-family: "Bradley Hand";
  font-size: 30px;
  color: $color-primary;
}

p {
  color: $color-secondary;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cursor-text {
  color: $color-accent;
  font-family: "Alexandria", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
// Footer

.footer-title {
  font-family: "Alexandria", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-text {
  font-family: "Alexandria", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.follow {
  color: #fff;
  font-family: "Alexandria", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-legal-info {
  font-family: "Alexandria", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.foot-title-number {
  font-family: "Alexandria", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-date {
  font-family: "Alexandria", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-btn-dark {
  font-family: "Alexandria", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-btn-white {
  font-family: "Alexandria", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
