// Couleurs principales
$color-primary: #000000;
$color-secondary: #ffffff;
$color-accent: #982d3d;
h1 {
  font-family: "Alexandria", sans-serif;
  color: $color-secondary;
  text-align: center;
  font-size: 120px;
  font-weight: 900;
  letter-spacing: 7.3px;
  margin-top: 10%;
  margin-bottom: 10%;
}
h2 {
  color: $color-primary;
  font-family: "Alexandria", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: $color-primary;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

h4 {
  color: $color-primary;
  font-family: "Alexandria", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}
p {
  font-family: "Bradley Hand";
  font-size: 30px;
}
