h1 {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  color: #fff;
  text-align: center;

  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 7.3px;
  margin-top: 10%;
  margin-bottom: 10%;
}

p {
  font-optical-sizing: auto;
  color: #fff;
  text-align: left;

  font-family: "Bradley Hand";

  font-size: 20px;
  font-style: normal;
  font-weight: 00;
  line-height: normal;
}
