// <!-- Marjane dans les étoiles - Titre Parallaxe -->
.object-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.object-wrapper ~ .object-wrapper {
  justify-content: end;
}

.object-1 {
  width: 30%;
  height: 5vh;
}
.object-2 {
  width: 5%;
  height: 5vh;

  position: absolute;
  top: 10%;
  left: 10%;
}
.object-3 {
  width: 5%;
  height: 5vh;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 80%;
  z-index: 0;
}
.object-4 {
  width: 5%;
  height: 5vh;

  position: absolute;
  top: 40%;
  left: 30%;
}
.object-5 {
  width: 5%;
  height: 5vh;
  opacity: 1;
  position: absolute;
  top: 8%;
  left: 70%;
}
.object-6 {
  width: 5%;
  height: 5vh;

  position: absolute;
  top: 75%;
  left: 20%;
}

.object-7 {
  width: 5%;
  height: 5vh;

  position: absolute;
  top: 70%;
  left: 70%;
}

// <!-- Ecolière - Scrolling Horizontale -->
// slider
.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}
//  <!-- Marjane en hijab - Pas d'animation -->

.marjane-hijab img {
  width: 40%;
  margin-top: 5%;
}

.marjane-hijab {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marjane-hijab p {
  text-align: center;
  color: $color-secondary;
}
//  <!-- Hommme énervé - Effect Parallaxe -->
.angry-man {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.angry-man img {
  height: 100%;
  width: 53%;
}

.angry-man p {
  color: $color-primary;
  margin-left: 10%;
  margin-top: 15%;
}

.manif-women-image {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manif-women p {
  margin-top: 15%;
  margin-left: 10%;
}

.manif-fight {
  width: 80%;
  align-items: center;
}

.manif-fight img {
  border: 3px solid $color-primary;
}

.marjane-cry {
  justify-content: end;
  align-items: end;
}

.marjane-cry img {
  height: 100%;
  width: 50%;
  margin-left: 50%;
}

.marjane-think {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marjane-think img {
  height: 100%;
  width: 50%;

  border-color: $color-primary;
  border: 3px solid $color-primary;
}

.marjane-fly {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marjane-fly img {
  height: 100%;
  width: 50%;
  border-width: 10%;
  border-color: $color-primary;
}

.market {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.market-book {
  height: 100%;
  width: 50%;
}

.market-info {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-left: 5%;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bio-image {
  height: 100%;
  width: 40%;
  margin-left: 5%;
  border: 3px solid $color-primary;
}

.bio-info {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-right: 5%;
}
